.vc-banner
	a.d-block(href="#!")
		img.w-100.d-none.d-md-block(src="img/vc/bn1.jpg", alt="")
		img.w-100.d-block.d-md-none(src="img/vc/bnm1.png", alt="")
	.banner-caption
		.big MAKE A SPLASH
		.small Summer Fall 2018
.vc-section
	.container
		.row.align-items-center.align-content-center
			.col-12.col-md-6.col-lg-5
				img.w-100(src="img/vc/img1.png", alt="")
			.col-12.col-md-6.col-lg-7
				.vc-content.text-center
					.vc-title Summer fall 2018 - Make a splash
					.content
						p Xuất hiện đầy lôi cuống khi hòa cùng Bộ sưu tập "Make a Splash", các cô nàng đã sẵn sàng lựa chọn ngay cho mình phong cách nổi bật rất riêng, thể hiện bản thân thật ấn tượng và lan tỏa năng lượng tự tin ở khắp mọi nơi.
.vc-video
	a.d-none.d-md-block(href="#linkvideo" data-fancybox="video")
		img.w-100(src="img/vc/video.png", alt="")
	a.d-block.d-md-none(href="#linkvideo" data-fancybox="video")
		img.w-100(src="img/vc/videom.png", alt="")
.vc-product
	.container
		.row.justify-content-center
			.col-12.col-md-6.col-lg-4
				.vcpr-col