.vc-banner.wow.fadeIn
	a.d-block(href="#!")
		img.w-100.d-none.d-md-block(src="img/vc/bn1.jpg", alt="")
		img.w-100.d-block.d-md-none(src="img/vc/bnm1.png", alt="")
	.banner-caption
		.big.wow.fadeInLeft MAKE A SPLASH
		.small.wow.fadeInRight Summer Fall 2018
.vc-section
	.container
		.row.align-items-center.align-content-center
			.col-12.col-md-6.col-lg-5
				img.img1.w-100.wow.fadeIn(src="img/vc/img1.png", alt="")
			.col-12.col-md-6.col-lg-7
				.vc-content.text-center
					.vc-title.wow.fadeInUp Summer fall 2018 - Make a splash
					.content.wow.fadeInUp
						p Xuất hiện đầy lôi cuống khi hòa cùng Bộ sưu tập "Make a Splash", các cô nàng đã sẵn sàng lựa chọn ngay cho mình phong cách nổi bật rất riêng, thể hiện bản thân thật ấn tượng và lan tỏa năng lượng tự tin ở khắp mọi nơi.
.vc-video.wow.fadeIn
	a.d-none.d-md-block(href="#linkvideo" data-fancybox="video")
		img.w-100(src="img/vc/video.png", alt="")
	a.d-block.d-md-none(href="#linkvideo" data-fancybox="video")
		img.w-100(src="img/vc/videom.png", alt="")
.vc-product
	.container
		.row.justify-content-center
			.col-12.col-md-6.col-lg-4
				.vcpr-col.wow.fadeInUp
					a.vc-title.text-center(href="#!") Balo
					a.vcpr-img(href="#!")
						img.img1(src="img/vc/pr1.jpg", alt="")
						img.img2(src="img/vc/pr1f.jpg", alt="")
					a.vc-des Thoải mái tung tăng giữa trời mưa
			.col-12.col-md-6.col-lg-4
				.vcpr-col.wow.fadeInUp
					a.vc-title.text-center(href="#!") Túi xách
					a.vcpr-img(href="#!")
						img.img1(src="img/vc/pr2.jpg", alt="")
						img.img2(src="img/vc/pr2f.jpg", alt="")
					a.vc-des Nổi bật sải bước đầy tự tin
			.col-12.col-md-6.col-lg-4
				.vcpr-col.wow.fadeInUp
					a.vc-title.text-center(href="#!") Giày
					a.vcpr-img(href="#!")
						img.img1(src="img/vc/pr3.jpg", alt="")
						img.img2(src="img/vc/pr3f.jpg", alt="")
					a.vc-des Trẻ trung năng động mỗi ngày
.vc-collection
	.container
		.row.no-gutters.align-items-center.collection-row
			.col-12.col-md-6
				a.img1.wow.fadeInRight(href="#!")
					img(src="img/vc/img2.jpg", alt="")
			.col-12.col-md-6
				a.img2.wow.fadeInRight(href="#!")
					img.w-100(src="img/vc/img3.jpg", alt="")
		.row.no-gutters.align-items-center.collection-row
			.col-12.col-md-6
				a.img3.wow.fadeInLeft(href="#!")
					img.w-100(src="img/vc/img4.jpg", alt="")
			.col-12.col-md-6
				a.img4.wow.fadeInLeft(href="#!")
					img(src="img/vc/img5.jpg", alt="")
		.row.no-gutters.collection-row
			.col-12.col-md-6
				a.img5.wow.fadeInRight(href="#!")
					img(src="img/vc/img6.jpg", alt="")
				a.img6.wow.fadeInRight(href="#!")
					img(src="img/vc/img7.jpg", alt="")
			.col-12.col-md-6
				a.img7.wow.fadeInRight(href="#!")
					img.w-100(src="img/vc/img8.jpg", alt="")
.vc-product-list
	.container
		.title-wrap.text-center.wow.fadeInUp
			.vc-title Sản phẩm mới
		.product-wrap.wow.fadeInUp
			.product-list
				.row.no-gutters
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
			.btn-wrap.wow.fadeInUp
				a.btn-viewmore(href="#!") Xem thêm các sản phẩm trong bộ sưu tập