.bt-banner
	a.d-none.d-md-block(href="#!")
		img.w-100(src="img/banner.png", alt="")
	a.d-block.d-md-none(href="#!")
		img.w-100(src="img/bnm1.jpg", alt="")
.bt-intro
	img.w-100.d-none.d-md-block(src="img/banner2.png", alt="")
	img.w-100.d-block.d-md-none(src="img/bnm2.png", alt="")
.bt-size
	.bg(style="background: url(img/bg1.png) center center no-repeat;background-size: cover")
	.container
		.row
			.col-12.col-md-6
				a.size-gender.d-block.text-center(href="#!")
					img(src="img/nu.png", alt="")
			.col-12.col-md-6
				a.size-gender.d-block.text-center(href="#!")
					img(src="img/nam.png", alt="")
.bt-info
	img.w-100.d-none.d-md-block(src="img/banner3.png", alt="")
	img.w-100.d-block.d-md-none(src="img/bnm3.png", alt="")
.bt-video
	.bg(style="background: url(img/bg2.png) center center no-repeat;background-size: cover")
	.container
		.video-iframe
			iframe(frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" width="830" height="460" src="https://www.youtube.com/embed/qKQMFldKkso?autoplay=1&amp;rel=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Ftiki.vn&amp;widgetid=1" id="widget2")
.bt-why
	img.w-100.d-none.d-md-block(src="img/banner4.png", alt="")
	img.w-100.d-block.d-md-none(src="img/bnm4.png", alt="")
.bt-product
	.bt-title.text-center
		img(src="img/title.png", alt="")
	.container
		.product-wrap
			.product-list
				.row.no-gutters
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
			.btn-wrap.text-center
				a.btn-viewmore(href="#!") Xem thêm
.bt-product
	.bt-title.text-center
		img(src="img/title2.png", alt="")
	.container
		.product-wrap
			.product-list
				.row.no-gutters
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
					//- article.col-6.col-md-4.col-lg-3.item-prdWrap.s2
						.product-card
							figure
								.btn-wrap.buy-panel
									a.btn-buy.btn-addtocart(onclick='AjaxCart.addproducttocart_details(this); return false;', href='#', data-productid='3194', data-colorid='452') Mua ngay
									a.btn-compare.compare.btn_compare(href='#', data-productid='3194') So sánh
								a.product-img(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', target='_self')
									picture
										source(type='image/vnd.ms-photo', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ')
										img(data-original='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', src='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png', alt='Vali Kéo Lusetti Queenie LT011', sizes='100vw', srcset='https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 960w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 480w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 375w, https://www.lug.vn/Data/Sites/1/Product/3192/600x600/green-2.png 320w, ', style='display: inline;')
								figcaption
									h3.product-name
										a(href='https://www.lug.vn/vali-keo-lusetti-queenie-lt011-20-purple', title='Vali Kéo Lusetti Queenie LT011') Vali Kéo Lusetti Queenie LT011
									.star
										.ratingview
											div(style='width:80%')
									.comment-count (22 comments )
									.product-price
										span.new 989.000 ₫
									.product-detail
										.product-properties
											.row.flex.flex-wrap.no-gutters
												.col-12
													strong Size: 
													span(style='display:inline-block') 20
													span(style='display:inline-block') 25
												.col-12.code-prdList.mrb-xs-10
													strong MSP: 
													| LT011
										ul.item-color
											li(data-id='428', data-field-id='6', title='Yellow')
												span(style='background-color:#FFFF00')
											li(data-id='452', data-field-id='6', title='Purple')
												span(style='background-color:#A020F0')
											li(data-id='471', data-field-id='6', title='Navy Blue')
												span(style='background-color:#000080')
											li(data-id='525', data-field-id='6', title='Brown ')
												span(style='background-color:#5F5658')
											li(data-id='526', data-field-id='6', title='Green')
												span(style='background-color:#008BA0')
											li(data-id='430', data-field-id='6', title='Light Blue ')
												span(style='background-color:#87CEEB')
										.popup-promotion
			.btn-wrap.text-center
				a.btn-viewmore(href="#!") Xem thêm
.bt-product
	.bt-title.text-center
		img(src="img/title3.png", alt="")
	.container
		.bt-promotion-list
			.row
				.col-12.col-md-6.col-lg-3
					a.bt-promotion-col(href="#!")
						img.w-100(src="img/km1.png", alt="")
				.col-12.col-md-6.col-lg-3
					a.bt-promotion-col(href="#!")
						img.w-100(src="img/km2.png", alt="")
				.col-12.col-md-6.col-lg-3
					a.bt-promotion-col(href="#!")
						img.w-100(src="img/km3.jpg", alt="")
				.col-12.col-md-6.col-lg-3
					a.bt-promotion-col(href="#!")
						img.w-100(src="img/km4.png", alt="")